<div>
    <h3>Edit Post</h3>
    <hr>
</div>


<form [formGroup]="editPostForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="">Title</label>
        <input type="text" class="form-control" formControlName="title"/>    
    </div>

    <div class="mb-3">
        <label for="">Title</label>
        <textarea type="text" class="form-control" formControlName="description"></textarea>    
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>